body {
    font-family: "Poppins", sans-serif;

    &::-webkit-scrollbar {
        width: 7px;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent !important;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #aaa;
        border-radius: 10px;
    }
}

.loader {
    position: fixed;
    background: linear-gradient(#a2c9f8, #d2edf1);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5000;

}

.loader img {
    height: 0%;
    width: 0%;
    filter: blur(20px);
    animation: loader 5.6s ease-in-out;
}

@keyframes loader {
    0% {
        height: 0%;
        width: 0%;
        filter: blur(20px);
        animation-timing-function: ease-in-out;
    }

    50% {
        height: 20%;
        width: auto;
        filter: blur(0px);
        animation-timing-function: ease-in-out;
        animation-duration: .1s;
        /* 1 second for the 0% to 50% transition */

    }

    55% {
        height: 20%;
        width: auto;
        filter: blur(0px);
        animation-timing-function: linear;
        animation-duration: 5s;
        /* 5 seconds stay at 50% */

    }

    100% {
        height: 60%;
        width: auto;
        filter: blur(20px);
        animation-timing-function: ease-in-out;
        animation-duration: .5s;
        /* 1 second for the 50% to 100% transition */
    }
}

@media only screen and (max-width: 600px) {
    @keyframes loader {
        0% {
            height: 0%;
            width: 0%;
            filter: blur(20px);
            animation-timing-function: ease-in-out;
        }

        50% {
            height: 25%;
            width: auto;
            filter: blur(0px);
            animation-timing-function: ease-in-out;
            animation-duration: .1s;
            /* 1 second for the 0% to 50% transition */

        }

        55% {
            height: 25%;
            width: auto;
            filter: blur(0px);
            animation-timing-function: linear;
            animation-duration: 5s;
            /* 5 seconds stay at 50% */

        }

        100% {
            height: 50%;
            width: auto;
            filter: blur(20px);
            animation-timing-function: ease-in-out;
            animation-duration: .5s;
            /* 1 second for the 50% to 100% transition */
        }
    }
}



.theme {
    background-color: $light-skin;
    display: flex;
    height: 100vh;
    overflow-y: hidden;

    // padding: 12px;
    @media only screen and (max-width: 991px) {
        height: 100%;
        overflow-y: auto;
        padding-top: 60px;
    }

    @media only screen and (max-width: 575px) {
        padding-bottom: 50px;
    }
}

.theme-override {
    overflow: hidden;
}

/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(20, 20, 20, .8), rgba(0, 0, 0, .8));

    background: -webkit-radial-gradient(rgba(20, 20, 20, .8), rgba(0, 0, 0, .8));
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 150ms infinite linear;
    -moz-animation: spinner 150ms infinite linear;
    -ms-animation: spinner 150ms infinite linear;
    -o-animation: spinner 150ms infinite linear;
    animation: spinner 150ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}