.modal-medium{
    max-width: 700px !important;
    .modal-content{
        width: 100% !important;
    }
}
.modal-lg{
    max-width: 700px !important;
    .modal-content{
        width: 100% !important;
    }
}
.modal-btn-save{
    background-color: $secondry;
    border: 1px solid $secondry;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: white;
    border-radius: 4px;
    padding: 7px 20px !important;
    min-width: 100px;
    line-height: normal !important;
    transition: all .5s;
    &:hover{
        transform: translateY(-3px);
    }
}

.modal-btn-cancel{
    background-color:transparent;
    border: none;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: $secondry;
    border-radius: 4px;
    padding: 0px 20px;
    border: 1px solid $secondry;
    transition: all .5s;
    &:hover{
        transform: translateY(-3px);
    }
}
.modal-body{
    @media only screen and (max-width:600px){
        padding: 0px !important;
    }
    h3{
        font-size: 18px;
        font-weight: 500;
        margin-top: 20px;
    }
}


.modal-logo{
    height: 40px;
}
.invoice-detail-preview{
    background-color: $secondry;
    padding: 20px;
    margin:0px 20px;
    border-radius: 16px;

}
.border-right{
    border-right: 1px solid white;
    @media only screen and (max-width:991px){
        border-right: none;
        border-bottom: 1px solid white;
        padding-bottom: 10px;
    }
}
.payment-box{
    padding: 20px;
    border: 1px dashed $secondry;
}

//  /* Hide the calendar icon */
//  .invoice-date::-webkit-calendar-picker-indicator {
//     display: none;
//   }
.invoice-download{
    position: fixed;
    bottom: 30px;
    right: 30px;
}