.layout {
    z-index: 3;
    position: sticky !important;
    top: 12px !important;
    left: 12px !important;
    /* overflow-y: hidden; */
}

.header {

    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-div {
    position: sticky !important;
    top: 0px !important;
}

.main-area {
    padding: 0px 12px 0px 25px !important;
    margin: 12px 0px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 7px;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent !important;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #aaa;
        border-radius: 10px;
    }
}

/* 
.layout .footer {
    text-align: center;
    margin-top: auto;
    margin-bottom: 20px;
    padding: 20px;
} */

/* .layout.rtl .header {
    box-shadow: -1px 1px 4px #9aa0b9;
} */

.sidebar {
    /* color: #b3b8d4; */
    overflow-x: hidden !important;
    position: sticky !important;
    top: 12px !important;
    left: 12px;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 24px) !important;
    overflow-y: hidden !important;
}

.sidebar .image-wrapper {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
    z-index: 1;
    display: none;

}


.sidebar .sidebar-layout {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

.sidebar .sidebar-layout .sidebar-header {
    height: 70px;
    min-height: 70px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.sidebar .sidebar-layout .sidebar-header>span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sidebar .sidebar-layout .sidebar-content {
    flex-grow: 1;
    padding: 0px 0;
    height: calc(100vh - 304px);
    overflow-y: hidden;

}

.sidebar .sidebar-layout .sidebar-content:hover {
    overflow-y: scroll;
}



@keyframes swing {

    0%,
    30%,
    50%,
    70%,
    100% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(10deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(-5deg);
    }
}

.layout .sidebar .menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.layout .sidebar .menu .menu-item a {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 20px;
    font-weight: 400 !important;
    opacity: 0.9;
    white-space: nowrap;
    align-items: center;
    line-height: 25px;
    /* color: white; */
}

.layout .sidebar .menu .menu-item a .menu-icon {
    font-size: 1.2rem;
    width: 35px;
    min-width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
    border-radius: 2px;
    transition: color 0.3s;
    color: white;
}

.layout .sidebar .menu .menu-item a .menu-icon i {
    display: inline-block;
    font-weight: 600 !important;
}

.layout .sidebar .menu .menu-item a .menu-title {
    font-size: 16px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
    transition: color 0.3s;
    font-weight: 400;
    opacity: 0.9;
    white-space: nowrap;
    align-items: center;
    line-height: 25px;
    /* color: white; */
}

.layout .sidebar .menu .menu-item a .menu-prefix,
.layout .sidebar .menu .menu-item a .menu-suffix {
    display: inline-block;
    padding: 5px;
    opacity: 1;
    transition: opacity 0.3s;
}


.layout .sidebar .menu .menu-item a:hover .menu-icon i {
    animation: swing ease-in-out 0.5s 1 alternate;
}



.layout .sidebar .menu .menu-item.sub-menu {
    position: relative;
}

.layout .sidebar .menu .menu-item.sub-menu>a::after {
    content: "
 "
;
    transition: transform 0.3s;
    border-right: 2px solid currentcolor;
    border-bottom: 2px solid currentcolor;
    width: 5px;
    height: 5px;
    transform: rotate(-45deg);
}

.layout .sidebar .menu .menu-item.sub-menu>.sub-menu-list {
    padding-left: 20px;
    display: none;
    overflow: hidden;
    z-index: 999;
}

.layout .sidebar .menu .menu-item.sub-menu.open>a::after {
    transform: rotate(45deg);
}

.layout .sidebar .menu .menu-item.active>a .menu-title {
    color: #dee2ec;
}

.layout .sidebar .menu .menu-item.active>a::after {
    border-color: #dee2ec;
}

.layout .sidebar .menu .menu-item.active>a .menu-icon {
    color: #dee2ec;
}

.layout .sidebar .menu>ul>.sub-menu>.sub-menu-list {
    background-color: rgba(63, 81, 181, 0.853);
}

.layout .sidebar .menu.icon-shape-circle .menu-item a .menu-icon,
.layout .sidebar .menu.icon-shape-rounded .menu-item a .menu-icon,
.layout .sidebar .menu.icon-shape-square .menu-item a .menu-icon {
    background-color: rgba(63, 81, 181, 0.853);
}

.layout .sidebar .menu.icon-shape-circle .menu-item a .menu-icon {
    border-radius: 50%;
}

.layout .sidebar .menu.icon-shape-rounded .menu-item a .menu-icon {
    border-radius: 4px;
}

.layout .sidebar .menu.icon-shape-square .menu-item a .menu-icon {
    border-radius: 0;
}

.layout .sidebar:not(.collapsed) .menu>ul>.menu-item.sub-menu>.sub-menu-list {
    visibility: visible !important;
    position: static !important;
    transform: translate(0, 0) !important;
}

.layout .sidebar.collapsed .menu>ul>.menu-item>a .menu-prefix,
.layout .sidebar.collapsed .menu>ul>.menu-item>a .menu-suffix {
    opacity: 0;
}

.layout .sidebar.collapsed .menu>ul>.menu-item.sub-menu>a::after {
    content: "
 "
;
    width: 5px;
    height: 5px;
    background-color: currentcolor;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 50%;
    border: none;
    transform: translateY(-50%);
}

/* 
.layout .sidebar.collapsed .menu>ul>.menu-item.sub-menu>a:hover::after {
    background-color: #dee2ec;
} */

.layout .sidebar.collapsed .menu>ul>.menu-item.sub-menu>.sub-menu-list {
    transition: none !important;
    width: 200px;
    margin-left: 3px !important;
    border-radius: 4px;
    display: block !important;
}

/* .layout .sidebar.collapsed .menu>ul>.menu-item.active>a::after {
    background-color: #dee2ec;
} */
.sidebar.col .layout .sidebar.has-bg-image .menu.icon-shape-circle .menu-item a .menu-icon,
.layout .sidebar.has-bg-image .menu.icon-shape-rounded .menu-item a .menu-icon,
.layout .sidebar.has-bg-image .menu.icon-shape-square .menu-item a .menu-icon {
    background-color: rgba(11, 26, 44, 0.6);
}

.layout .sidebar.has-bg-image:not(.collapsed) .menu>ul>.sub-menu>.sub-menu-list {
    background-color: transparent;
}

.layout.rtl .sidebar .menu .menu-item a .menu-icon {
    margin-left: 10px;
    margin-right: 0;
}

.layout.rtl .sidebar .menu .menu-item.sub-menu>a::after {
    transform: rotate(135deg);
}

.layout.rtl .sidebar .menu .menu-item.sub-menu>.sub-menu-list {
    padding-left: 0;
    padding-right: 20px;
}

.layout.rtl .sidebar .menu .menu-item.sub-menu.open>a::after {
    transform: rotate(45deg);
}

.layout.rtl .sidebar.collapsed .menu>ul>.menu-item.sub-menu a::after {
    right: auto;
    left: 10px;
}

.layout.rtl .sidebar.collapsed .menu>ul>.menu-item.sub-menu>.sub-menu-list {
    margin-left: -3px !important;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* height: 100vh; */

    color: #212529;
    background-color: var(--gray-light);
}

a {
    text-decoration: none;
}

@media (max-width: 992px) {
    #btn-collapse {
        display: none;
    }

    /* 
    .header {
        padding: 0px 20px 0 20px !important;
    } */
}





/* ==========================custom========================= */
.fa-align-left {
    color: white !important;
    font-weight: 700 !important;
}



.user-icon {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: var(--dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-icon i {
    color: black;
}

.profile-dropdown button {
    background-color: transparent;
    border: none;
    color: var(--dark-blue);
}

.profile-dropdown button:hover {
    background-color: transparent !important;
    box-shadow: none !important;
    color: var(--dark-blue);
}



/* sidebar scroller */

#sidebar {
    overflow-y: scroll;
    overflow-x: hidden;
}

/* 
#sidebar::-webkit-scrollbar {
    width: 5px;

}

#sidebar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgba(63, 81, 181, 0.853) !important;
}

#sidebar::-webkit-scrollbar-thumb {
    background-color: rgba(63, 81, 181, 1);
    outline: 1px solid var(--blue);
    border-radius: 10px;
}

.layout::-webkit-scrollbar {
    width: 5px;

}

.layout::-webkit-scrollbar-track {
    box-shadow: none;
}

.layout::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    outline: 1px solid var(--primary);
    border-radius: 10px;
} */

.logo {
    object-fit: contain;
}

.layout .sidebar {
    width: 280px;
    min-width: 280px;
}


/* .content{
    padding: 14px;
} */
.menu-item a:hover {
    background-color: rgba(255, 255, 255, 0.394) !important;
}

.active-tab {
    background-color: rgba(255, 255, 255, 0.394) !important;

}


.layout .sidebar .menu .menu-item.sub-menu>a::after {
    content: "";
    transition: transform 0.3s;
    border-right: 2px solid currentcolor;
    border-bottom: 2px solid currentcolor;
    width: 5px;
    height: 5px;
    transform: rotate(-45deg);
}



.notifications {
    position: relative;
    cursor: pointer;

}

@keyframes pulses {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgb(115 103 240 / 90%);
    }

    70% {
        -webkit-box-shadow: 0 0 0 6px rgb(115 103 240 / 0%);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgb(115 103 240 / 0%);
    }
}

.number {
    animation: pulses 2s infinite;
    animation-duration: .9s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    height: 14px;
    width: 14px;
    font-size: 10px;
    background-color: #7367f0;
    border-radius: 100%;
    color: white;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0px;
    right: -3px;
}

.detail-btn {
    padding: 5px 10px;
    background-color: white;
    color: #212529 !important;
    font-weight: 500;
    border-radius: 7px !important;

}

.bi-bell {
    color: var(--gray-dark) !important;

}

.bi-bell:hover {
    color: var(--primary) !important;
}

.btn-head {
    color: var(--gray-dark);

}

.text-white {
    color: white;
}

.sidebar.collapsed .menu-heading {
    color: transparent !important;
    border-top: 1px solid rgba(83, 93, 125, 0.5)
}

.sidebar .menu-heading {
    /* color: white !important; */
    font-weight: 700;
    font-size: 16px;
}

#overlay-all {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 0 !important;
    display: none;
    z-index: 999;
}

#overlay-sidebar {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 0 !important;
    display: none;
    z-index: 999;
}

.layout .sidebar.collapsed .menu>ul>.menu-item.sub-menu:hover>.sub-menu-list {
    display: block !important;
    visibility: visible !important;
    transform: translate3d(89px, 284px, 0px) !important;
}

.sub-menu a {
    cursor: pointer;
}

.content {
    padding: 0px 7px;
    /* margin: 17px 0 !important; */
}

#btn-toggle {
    display: none;
}

@media only screen and (max-width:991px) {
    .content {
        /* padding: 0px 7px; */
        margin: 17px 0 !important;
    }
    .layout {
        top: 0 !important;
        left: 0px !important;
    }

    .sidebar {
        position: fixed !important;
        left: -300px;
        height: 100vh !important;
        top: 0px !important;
        /* display: none !important; */
        z-index: 3000 !important;
        border-radius: 0px !important;

    }

    .main-area {
        padding: 0px !important;
        margin: 0 !important;
        border-radius: 10px 10px 0 0;
        overflow: hidden;
    }

    #btn-toggle {
        display: block;
    }

    #overlay-all {

        z-index: 100;
    }

    #overlay-sidebar {

        z-index: 100;
    }

    .layout {
        z-index: 10000;
    }

    .sidebar .sidebar-layout .sidebar-content {
        overflow-y: auto !important;

    }

    .content {
        padding: 0
    }

    ;

}

@media only screen and (max-width:575px) {
    #btn-toggle {
        display: none;
    }

    .sidebar {
        display: none;
    }

    .overlay-show {
        display: block !important;
    }
}