.box-p{
  @media only screen and (max-width: 500px) {
    padding: 15px 15px !important;
  }
}
.box {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.05);
  border: 1px solid #efeffd;
  padding: 20px;
  overflow: hidden;
  z-index: 0;
    // transition: all 2s;

 
  @media only screen and (max-width: 1270px) and (min-width: 1200px) {
    padding: 20px 10px;
  }
  // &:hover{
  //    transform: translateY(-5px);
  // }
  .box-text {
    margin-left: 20px;
    position: relative;

    z-index: 10;
    .light-icon {
      font-size: 18px;
      color: $gray;
    }
  }
  .box-heading {
    font-size: 16px;
    color: $dark-blue;
    font-weight: 400;
    position: relative;
    z-index: 10;
    margin-bottom: 15px;
    white-space: nowrap;
  }
  .box-value {
    color: $gray;
    font-size: 32px;
    font-weight: 500;
    position: relative;
    z-index: 10;
  }
  .box-icon {
    background-color: rgba($secondry, 0.1);
    height: 50px;
    width: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      color: $secondry;
      font-size: 23px;
    }
  }
  .progress {
    width: 70px;
    height: 70px;
    line-height: 70px;
    background: none;
    box-shadow: none;
    position: relative;
    display: flex;
    flex-shrink: 0 !important;
  }
  .progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
  }
  .progress > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  .progress .progress-left {
    left: 0;
  }
  .progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 2px;
    border-style: solid;
    position: absolute;
    top: 0;
  }
  .progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }
  .progress .progress-right {
    right: 0;
  }
  .progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
  }
  .progress .progress-value {
    width: 85%;
    height: 85%;
    border-radius: 50%;
    border: 2px solid #ebebeb;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    position: absolute;
    top: 7.5%;
    left: 7.5%;
  }
  .progress.blue .progress-bar {
    border-color: #049dff;
  }
  .progress.blue .progress-value {
    color: #049dff;
  }
  .progress.blue .progress-left .progress-bar {
    animation: loading-2 1.5s linear forwards 1.8s;
  }
  .progress.yellow .progress-bar {
    border-color: #fdba04;
  }
  .progress.yellow .progress-value {
    color: #fdba04;
  }
  .progress.yellow .progress-left .progress-bar {
    animation: loading-3 1s linear forwards 1.8s;
  }
  .progress.pink .progress-bar {
    border-color: #ed687c;
  }
  .progress.pink .progress-value {
    color: #ed687c;
  }
  .progress.pink .progress-left .progress-bar {
    animation: loading-4 0.4s linear forwards 1.8s;
  }
  .progress.green .progress-bar {
    border-color: #1abc9c;
  }
  .progress.green .progress-value {
    color: #1abc9c;
  }
  .progress.green .progress-left .progress-bar {
    animation: loading-5 1.2s linear forwards 1.8s;
  }
  @keyframes loading-1 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
  @keyframes loading-2 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(144deg);
      transform: rotate(144deg);
    }
  }
  @keyframes loading-3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }
  @keyframes loading-4 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(36deg);
      transform: rotate(36deg);
    }
  }
  @keyframes loading-5 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(126deg);
      transform: rotate(126deg);
    }
  }
  @media only screen and (max-width: 990px) {
    .progress {
      margin-bottom: 20px;
    }
  }
}

/* CSS for the chart containers */
#regional-sales {
  width: 100%;
  height: 350px !important;
  display: flex;
  justify-content: center;
  @media only screen and (max-width: 990px) {
    height: 100% !important;
  }
}

//   @media only screen and (max-width: 767px) {
//     #regional_sales {
//       height: 600px; /* Adjust the height for smaller screens */
//     }
//   }

#customer_location {
  width: 100%;
  height: 300px;
 
}

.recent-activities {
  height: 570px;
  overflow-y: auto;
  @media only screen and (max-width:991px){
    height:100%;
  }
  &::-webkit-scrollbar {
    width: 5px !important;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 10px;
  }
}
.recent-activities2 {
  height: 430px;
  overflow-y: auto;
  @media only screen and (max-width:991px){
    height:100%;
  }
  &::-webkit-scrollbar {
    width: 5px !important;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 10px;
  }
}
.select-duration{
padding: 0 27px!important;
border: none;
font-size: 14px;
width: fit-content;
margin-right: -10px;
margin-top: -2px;
}
