.remove-picture {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: rgba(0, 0, 0, 0.568);
    border-radius: 100%;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    cursor: pointer;
  }
  .upload-img-btn {
    display: flex;
    width: 142px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 4px;
    border: 1px solid $secondry;
    background-color: transparent;
    color: $secondry;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 166.667% */
    cursor: pointer;
    margin-top: 15px;
    cursor: pointer;
  }
  
  .edit-img {
    width: 140px;
    height: 140px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: white;
    background: linear-gradient(
        0deg,
        rgba($secondry, 0.48) 0%,
        rgba($secondry, 0.48) 100%
      ),
      lightgray 50% / cover no-repeat;
    object-fit: cover;
  }
  .verification-div {
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 13px;
    overflow: hidden;
    &--header {
      padding: 10px 10px;
      background-color: $light-skin;
      h1 {
        font-size: 16px;
        font-weight: 600;
        color: black;
        margin-bottom: 0px;
      }
    }
    &-body {
      padding: 20px;
      @media only screen and (max-width: 640px) {
        padding: 10px;
      }
      p {
        font-size: 14px;
      }
    }
  }
  
  .code-input {
    border: 1px solid #b6b3b3 !important;
    height: 60px;
    width: 50px;
    margin: 0px 15px;
    border-radius: 2px;
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    padding: 5px;
  }
  @media only screen and (max-width: 600px) {
    .code-input {
      height: 40px;
      width: 30px;
      font-size: 25px;
    }
  }
  .congratulations {
    img {
      height: 200px;
      @media only screen and (max-width: 640px) {
        height: 150px;
      }
    }
    h2 {
      font-size: 26px;
      color: $secondry;
      margin: 20px 0px;
      @media only screen and (max-width: 640px) {
        font-size: 20px;
      }
    }
    p {
      font-size: 16px;
      font-weight: 500;
      @media only screen and (max-width: 640px) {
        font-size: 14px;
      }
    }
  }
  .tab-step {
    display: none;
  }
  
  .tab .tablink-profile{
    @media only screen and (max-width: 400px) {
     padding: 5px 8px !important;
     font-size: 12px;
    }
  }
  .tab .tablink-profile{
    @media only screen and (max-width: 350px) {
     padding: 5px 8px !important;
     font-size: 10px;
    }
  }