.sidebar {
  background-color: $dark !important;
  border-radius: 10px;
  padding: 15px 0px;
  .sidebar-header {
    padding: 0px 15px 15px 15px;
    .logo-lg {
      height: 40px;
      width: auto;
    }
    .logo-sm {
      display: none;
    }
  }

  .menu-item {
    margin-bottom: 5px !important;
  }
  .menu .menu-item a {
    color: #b5b5c3 !important;
  }
  .menu .menu-item a:hover {
    color: $white-light !important;
    background-color: transparent !important;
  }
  .menu .menu-item a .menu-icon {
    color: #b5b5c3 !important;
    cursor: pointer;
  }
  .menu .menu-item a:hover .menu-title {
    color: white;
    background-color: transparent !important;
  }

  .menu .menu-item a:hover .menu-icon i {
    color: white !important;
    background-color: transparent !important;
  }

  .menu .menu-item a:hover::after {
    border-color: $secondry !important;
  }
  .menu-heading {
    padding: 0px 20px 15px 20px;
    font-weight: 400;
    color: $white-light;
    opacity: 1;
  }
  .active-menu .menu-title {
    color: white !important;
  }
  .active-menu .menu-icon i {
    color: white !important;
  }

  & .sidebar-layout .sidebar-content::-webkit-scrollbar {
    width: 5px;
  }

  & .sidebar-layout .sidebar-content::-webkit-scrollbar-track {
    background-color: transparent !important;
  }

  & .sidebar-layout .sidebar-content::-webkit-scrollbar-thumb {
    background-color: $secondry;
    border-radius: 10px;
  }

  .user-account {
    display: flex;
    align-items: center;
    padding: 10px 15px !important;
    border: 1px solid $gray !important;
    margin: 18px 20px !important;
    border-radius: 10px;
  }
}

.profile-dropdown {
  position: relative !important;
  .dropdown-toggle {
    h3 {
      color: $white-light;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      font-family: "Poppins", sans-serif;
      line-height: 1.5;
    }
    p {
      color: $white-light;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      font-family: "Poppins", sans-serif;
      line-height: 1.5;
    }
    &::after {
      margin-left: 20px !important;
      border-top-color: $white-light !important;
      border-bottom-color: $white-light !important;
    }
  }
  .dropdown-menu {
    position: absolute !important;
    inset: 3px 30px auto -10px !important;
    right: 0px !important;
    background-color: $dark !important;
    border: 1px solid $gray !important;
    color: $white-light !important;
    li {
      a {
        color: $white-light !important;
        &:hover{
          background-color: $dark2;
        }
      }
    
    }
    li:not(:last-child) {
      margin-bottom: 7px;
      color: $white-light !important;
    }
  }
}
.sidebar.collapsed {
  padding-top: 10px !important;
  .sidebar-header {
    padding-bottom: 10px !important;
  }
}
.sidebar.collapsed .menu-heading-div {
  padding: 0px !important;
  border: none !important;
  height: 0px !important;
  display: none;
  padding: 0px 0px !important;
}
.sidebar.collapsed .user-account {
  display: none !important;
}
.sidebar.collapsed {
  .logo-lg {
    display: none;
  }
  .logo-sm {
    display: block !important;
    height: 50px !important;
  }
}
.sidebar.collapsed .sub-menu-list {
  background-color: $dark !important;
  box-shadow: 5px 8px 10px 0px rgba(0, 0, 0, 0.1) !important;
  padding-left: 0px !important;
  .menu-item {
    margin-bottom: 0px !important;
  }
}
