.chat-body {
  // height: 100vh !important;
  // overflow-y: hidden !important;
  // // padding: 0px !important;
  // @media only screen and (max-width: 991px) {
  //   height: 100% !important;
  //   overflow-y: scroll !important;
  // }


  background-color: $dark-skin;
  display: flex;
  height: 100vh;
  overflow-y: hidden;
  // padding: 12px;
  @media only screen and (max-width: 991px) {
    height: 100%;
    overflow-y: auto;
    padding-top: 0px;
  }
  @media only screen and (max-width: 575px) {
    padding-bottom: 50px;
  }
  .header{
    position: relative !important; 
  }
}
  .chat__screen {
    height: 100%;
    height: calc(100vh - 114px);
    display: flex;
    // border-top: 1px solid #e8e8e8;

    @media only screen and (max-width: 991px) {
      height: calc(100vh - 100px);
    }
    @media only screen and (max-width: 580px) {
        height: calc(100vh - 200px);
      }
    // @media only screen and (max-width: 1024px) {
    //     height: calc(100vh - 90px);
    //   }
    //   @media only screen and (max-width: 570px) {
    //     height: calc(100vh - 150px);
    //   }
    &-chats {
      width: 300px;
      border-right: 1px solid #5C607B;
      background-color: $dark;
      height: calc(100vh - 114px);
      @media only screen and (max-width: 1200px) {
        width: 100%;
      }
      @media only screen and (max-width: 991px) {
        height: calc(100vh - 100px);
      }
      @media only screen and (max-width: 580px) {
          height: calc(100vh - 200px);
        }
    //   @media only screen and (max-width: 1200px) {
    //     height: calc(100vh - 150px);
    //   }
    //   @media only screen and (max-width: 1024px) {
    //     height: calc(100vh - 90px);
    //   }
    //   @media only screen and (max-width: 570px) {
    //     height: calc(100vh - 200px);
    //   }
      &--header {
        height: 60px;
        border-bottom: 1px solid #5C607B;
        padding: 0px 20px;
        display: flex;
        align-items: stretch;
        margin-bottom: 5px;
        @media only screen and (max-width: 991px) {
          height: 55px;
          padding: 0px 15px;
          margin-bottom: 5px;
        }
        p {
          font-size: 14px;
          font-weight: 500;
          color: $white-light;
          
          display: flex;
          width: auto;
          flex-grow: 1;
          text-align: center;
          align-items: end;
          padding-bottom: 10px !important;
          justify-content:center ;
          cursor: pointer;
        }
        .active-tab{
            border-bottom: 3px solid $primary;
        }
      }
      &-wrapper {
        background-color: transparent;
        height: calc(100vh - 180px);
        overflow-y: scroll;
        &:hover{
            &::-webkit-scrollbar-thumb {
                background-color:$primary;
                border-radius: 10px;
              }
        }
        @media only screen and (max-width: 991px) {
            height: calc(100vh - 160px);
          }
          @media only screen and (max-width: 580px) {
            height: calc(100vh - 260px);
          }
        //   @media only screen and (max-width: 580px) {
        //     height: calc(100vh - 169px);
        //   }
        // padding-bottom: 30px;
        // @media only screen and (max-width: 1200px) {
        //   height: calc(100vh - 155px);
        // }
        // @media only screen and (max-width: 1024px) {
        //     height: calc(100vh - 130px);
        //   }
        &::-webkit-scrollbar {
          width: 5px;
        }
  
        &::-webkit-scrollbar-track {
          width: 0px !important;
        }
  
        &::-webkit-scrollbar-thumb {
          background-color:transparent;
          border-radius: 10px;
        }
        &--body {
            @media only screen and (max-width: 991px) {
                padding-bottom: 10px !important;
              }
          .conversation {
            padding: 9px 10px;
            margin-top: 5px;
            display: flex;
            align-items: center;
            border-left: 3px solid transparent;
            &:hover {
              background-color: $dark-skin;
              border-left: 3px solid blue;
              cursor: pointer;
            }
            @media only screen and (max-width: 500px) {
              padding: 8px 12px;
            }
            &-img {
              height: 44px;
              width: 44px;
              border-radius: 100%;
              display: flex;
              flex-shrink: 0;
            
              img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border: none !important;
                border-radius: 100%;
                object-position: top;
              }
            }
            &-text {
                position: relative;
                width: 90%;
              h2 {
                font-size: 14px;
                line-height: 14px;
                font-weight: 500;
                color: $white-light;
                margin-bottom: 5px !important;
                padding-bottom: 0px !important;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 160px;
                white-space: nowrap;
                @media only screen and (max-width: 1200px) {
                  width: 520px;
                }
                @media only screen and (max-width: 767px) {
                  width: 370px;
                }
                @media only screen and (max-width: 500px) {
                  width:170px;
                }
                
              }
              span{
                font-size: 10px;
                padding-bottom: 7px;
                color: $white-light;
            }
              p {
                font-size: 12px;
                font-weight: 400;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 180px;
                white-space: nowrap;
                color: $gray;
                @media only screen and (max-width: 1200px) {
                  width: 550px;
                }
                @media only screen and (max-width: 767px) {
                  width: 400px;
                }
                @media only screen and (max-width: 500px) {
                  width: 200px;
                }
              }
            }
          }
          .active-conversation {
            background-color: $dark-skin;
            border-left: 3px solid blue;
          }
        }
      }
    }
  
    &-body {
      width: 100% !important;
      background-color: $dark;
      // @media only screen and (max-width: 991px) {
      //  display: none;
      // }
      .open-chat-header-img {
        height: 42px;
        width: 42px;
        border-radius: 100%;
        display: flex;
        flex-shrink: 0;
        @media only screen and (max-width: 991px) {
          height: 32px;
          width: 32px;
        }
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          border: none !important;
          border-radius: 100%;
          object-position: top;
        }
      }
      .open-chat-header-text {
        h2 {
          font-size: 18px;
          line-height: 16px;
          font-weight: 600;
          color: $white-light;
          @media only screen and (max-width: 991px) {
            font-size: 18px;
          }
        }
      }
      &-msgs {
        padding: 5px 20px;
        height: calc(100vh - 250px);
        overflow-y: scroll;
        // padding-bottom: 20px;
  
        @media only screen and (max-width: 991px) {
          height: calc(100vh - 225px);
        }
        @media only screen and (max-width: 580px) {
            height: calc(100vh - 330px);
          }
        // @media only screen and (max-width: 767px) {
        //   height: calc(100vh - 230px);
        // }
        // @media only screen and (max-width: 580px) {
        //     height: calc(100vh - 280px);
        //   }
        &::-webkit-scrollbar {
          width: 5px;
        }
  
        &::-webkit-scrollbar-track {
          width: 0px !important;
        }
  
        &::-webkit-scrollbar-thumb {
          background-color: $primary;
          border-radius: 10px;
        }
        .chat-date {
          position: relative;
          text-align: center;
          background-color: $dark;
          z-index: 3;
          font-size: 14px;
          color: #bfbfbf;
          font-weight: 400;
  
        //   &::before {
        //     content: " ";
        //     position: absolute;
        //     left: 0%;
        //     top: 11px;
        //     width: 38%;
        //     background-color: #bfbfbf !important;
        //     height: 1px;
        //     opacity: 0.2;
        //     z-index: 1;
        //     @media only screen and (max-width: 767px) {
        //       display: none;
        //     }
        //   }
        //   &::after {
        //     content: " ";
        //     position: absolute;
        //     right: 0%;
        //     top: 11px;
        //     width: 38%;
        //     background-color: #bfbfbf !important;
        //     height: 1px;
        //     opacity: 0.2;
        //     z-index: 1;
        //     @media only screen and (max-width: 767px) {
        //       display: none;
        //     }
        //   }
        }
        .recieved-msg {
          &-data {
            margin-top: 20px;
            display: flex;
            align-items: center;
            &-img {
              height: 28px;
              width: 28px;
              border-radius: 100%;
            }
            h2 {
              font-size: 14px;
              font-weight: 500;
              color: $white-light
            }
            span {
              font-size: 12px;
              font-weight: 400;
              color: #a4a4a4;
            }
          }
          &-text {
            border-radius: 8px;
            opacity: 1;
            background-color: #f6f6f8;
            padding: 15px;
            margin-top: 10px;
            max-width: 550px;
            font-size: 14px;
            width: fit-content;
            @media only screen and (max-width: 991px) {
              padding: 12px;
              max-width: 400px;
            }
            @media only screen and (max-width: 500px) {
              padding: 10px;
              max-width: 250px;
            }
            img {
              max-width: 300px;
              @media only screen and (max-width: 500px) {
                max-width: 180px;
              }
            }
            video {
              max-width: 300px;
              @media only screen and (max-width: 500px) {
                max-width: 180px;
              }
            }
          }
        }
        .sent-msg {
          display: flex;
          justify-content: flex-end;
          flex-direction: column;
          align-items: self-end;
          &-data {
            margin-top: 20px;
            display: flex;
            align-items: center;
            &-img {
              height: 28px;
              width: 28px;
              border-radius: 100%;
            }
            h2 {
              font-size: 14px;
              font-weight: 500;
              color: $white-light;
            }
            span {
              font-size: 12px;
              font-weight: 400;
              color: #a4a4a4;
            }
          }
          &-text {
            border-radius: 8px;
            opacity: 1;
            background-color: $primary;
            padding: 15px;
            margin-top: 10px;
            max-width: 550px;
            color: white;
            font-size: 14px;
            @media only screen and (max-width: 991px) {
              padding: 12px;
              max-width: 400px;
            }
            @media only screen and (max-width: 500px) {
              padding: 10px;
              max-width: 250px;
            }
            img {
              max-width: 300px;
              @media only screen and (max-width: 500px) {
                max-width: 180px;
              }
            }
            video {
              max-width: 300px;
              @media only screen and (max-width: 500px) {
                max-width: 180px;
              }
            }
          }
        }
      }
    }
  }
  .msg-type-area {
    position: relative;
    padding: 10px 10px;
    &--input {
      background-color: $dark-skin !important;
      border-radius: 4px;
      width: 100%;
      padding: 4px 10px 4px 5px;
      color: $white-light !important;
      input {
        width: 70%;
        padding: 10px 10px;
        opacity: 1;
        border: none !important;
        background-color: transparent;
        color: $white-light !important;
        &:active,
        &:focus {
          outline: none;
          box-shadow: none !important;
        }
        &::placeholder {
          font-size: 14px;
          color: $white-light !important;
          font-weight: 400;
        }
      }
      .chat-btns {
        button {
         
          border: none !important;
          background-color: transparent;
          &:focus,
          &:active {
            border: none;
            box-shadow: none;
            outline: none;
          }
          svg {
            fill: #bfbfbf;
            &:hover {
              fill: $primary !important;
            }
          }
        }
        .send {
          background-color: $primary;
          color: white;
  
          padding: 7px 15px !important;
          border-radius: 4px;
          opacity: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          p {
            font-size: 14px;
            font-weight: 500;
          }
          @media only screen and (max-width: 767px) {
            padding: 5px 6px !important;
            p {
              display: none;
            }
          }
        }
      }
    }
  }
  
  // .chats-name {
  
  // }
  .chats-msgs {
    @media only screen and (max-width: 1200px) {
      display: none;
    }
  }
  .go-back {
    display: none;
    @media only screen and (max-width: 1200px) {
      display: block;
    }
  }
  .previews {
    display: none;
    background-color: $dark;
    padding: 15px 20px 10px 20px;
    max-height: 130px;
    min-height: 90px;
    position: absolute;
    right: 0;
    left: 0;
    top: -90px;
    border-radius: 10px 10px 0px 0px;
    border-top: 1px solid $primary;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      height: 5px;
    }
  
    &::-webkit-scrollbar-track {
      width: 0px !important;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: $primary;
      border-radius: 10px;
    }
  }
  
  .preview {
    max-height: 100px;
    position: relative;
  
    width: fit-content;
  
    .file-preview {
      margin-right: 10px !important;
      margin-right: 5px !important;
      position: relative;
    }
    img {
      max-height: 70px;
      width: fit-content;
    }
    i {
      font-size: 50px;
      display: block;
      color: white;
    }
    video {
      max-height: 70px;
      width: fit-content;
    }
  }
  
  .close-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    color: white !important;
    background-color: $primary;
    height: 18px;
    width: 18px;
    border-radius: 100%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0px;
  }
  // .previews{
  //   background-color: red;
  //   padding: 20px;
  //   min-height: 200px;
  //   position: absolute;
  //   right: 0;
  //   left: 0;
  //   top: -200px;
  //   display: none;
  //   #filePreview,
  // #mediaPreview{
  
  //   img{
  //     height: 60px;
  //     width: auto;
  //   }
  // }
  // }
  
  .option-btns{
    position: absolute;
    background-color: $dark-skin;
    bottom: 70px;
    width: fit-content;
    padding: 7px;
    border-radius: 7px;
    width: 180px;
    right: 40px;
    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: none;
   
    button{
        font-size: 14px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 10px 5px;
        justify-content: flex-start;
        color: $white-light;
        i{
            width: 40px;
            font-size: 20px;
        }
        &:hover {
          background-color: $dark;
        }
    }
}
.show-options{
    position: relative;
 
  }
  .option-btns-show{
        display: block;
    }


    .tabcontent {
        display: none;
      }
      .unread{
        font-weight: 500 !important;
        font-size: 14px !important;
      }
      .msg-number{
        position: absolute;
        top: 17px;
        right: 4px;
        height: 22px;
        width: 22px;
        border-radius: 100%;
        background-color: rgba($primary, .9);
        font-size: 14px !important;
        font-weight: 500;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 0px;
        text-align: center;
        vertical-align: middle;
      }

.emojionearea-editor{
  color: $white-light !important;
}

.emojionearea .emojionearea-picker .emojionearea-scroll-area .emojionearea-category-title{
  background-color: $dark-skin;
}
.emojionearea-wrapper{
  background-color: $dark-skin;
}














      .span6 {
        float: left;
        width: 48%;
        padding: 1%;
      }
      
      .emojionearea-standalone {
        float: right;
      }
      .emojionearea, .emojionearea.form-control{
        border: none !important;
        box-shadow: none !important;
        background-color: transparent !important;
      }
      .emojionearea-button{
        @media only screen and (max-width:580px){
            display: none !important;
        }
      }


    //   ============================================document
    .doc-card{
        width: 100%;
        display: flex;
        align-items: flex-start;
        margin-bottom: 0px;
        padding: 10px 5px;
        &:hover{
            background-color: $dark-skin;
             border-radius: 4px;
            //  color: ;
        }
        .icon{
            width: 40px;
            height: 40px;
            border-radius: 7px;
            padding: 10px;
            background-color: rgba($secondry, 0.5);
            display: flex;
            justify-content:center ;
            align-items: center;
            flex-shrink: 0;
            i{
                font-size: 20px;
                color: white;
            }
        }
        .doc-detail{
            margin-left: 10px;
            h1{
                font-size: 14px;
                font-weight: 500;
                color: $white-light;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 220px;
                line-height: 14px;
            }
            span{
                font-size: 14px;
                color: $gray;
            }
        }
    }