.log-theme {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding: 20px 0px;
    @media only screen and (max-width:425px){
      padding: 0;
  }
    .log-screen {
      width: 400px;
      background: rgb(49, 212, 240);
      background: linear-gradient(
          0deg,
          rgba(49, 211, 240, 0.899) 0%,
          rgba(9, 98, 206, 0.899) 100%
        ),
        url("/assets/images/walling-XFwnAACel-o-unsplash.jpg");
      min-height: 80vh;
      height: fit-content;
      background-position: center;
      background-size: cover;
      -webkit-box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.05);
      box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.05);
      border: 1px solid #efeffd;
      border-radius: 4px;
      padding: 60px 30px 60px 30px;
      @media only screen and (max-width:425px){
          width: 100%;
          min-height: 100vh;
      }
      @media only screen and (max-width:400px){
          padding: 50px 15px 30px 15px;
      }
      h1 {
        font-size: 35px;
        color: white;
        font-weight: 400;
        text-align: center;
      }
      .user-name-input {
        width: 100%;
        height: 40px;
        position: relative;
        .email-icon{
          position: absolute;
          top: 5px;
          font-size: 20px;
          right: 30px;
          color: white;
          @media only screen and (max-width:400px){
              right: 20px;
              top: 5px;
          }
        }
        input {
          background-color: transparent;
          width: 91%;
          height: 40px;
          border: none;
          padding: 4px 20px;
          color: white !important;
          position: relative;
          font-size: 14px;
          z-index: 2;
          text-align: center;
          &::placeholder{
              color: white !important;
          }
          &:active,
          &:focus{
              outline: none;
              border: noen;
              box-shadow: none;
          }
        }
        &::before {
          content: "";
          position: absolute;
          width: 94%;
          border: solid white;
          // left: 20px;
          right: 0px;
          top: -2px;
          bottom:0px;
          border-width: 2px 2px 2px 0px;
          border-radius:0 50px  50px 0;
          // background-color: aqua;
          z-index: 1;
          @media only screen and (max-width:400px){
             width: 93%;
          }
        }
  
      }
      .password-input {
          width: 100%;
          height: 42px;
          position: relative;
          .pass-icon{
              position: absolute;
              top: 6px;
              font-size: 20px;
              left: 30px;
              color: white;
              @media only screen and (max-width:400px){
                 left: 20px;
              }
          }
          input {
            background-color: transparent;
            width: 91%;
            height: 42px;
            border: none;
            padding: 4px 20px;
            color: white !important;
            z-index: 2;
            position: relative;
          //   margin-top: 4px;
            text-align: center;
            font-size: 14px;
          //   padding-top: 10px;
            &::placeholder{
                color: white !important;
            }
            &:active,
            &:focus{
                outline: none;
                border: noen;
                box-shadow: none;
            }
          }
          &::before {
            content: "";
            position: absolute;
            width: 94%;
            border: solid white;
            left: 0px;
            right: 20px;
            top: -7px;
            bottom: 0px;
            border-width: 2px 0px 2px 2px;
            border-radius:50px 0 0  50px;
            z-index: 1;
          //   border-top: 0;
            margin-top: 5px;
            
          //   background-color: aqua;
          @media only screen and (max-width:400px){
              width: 93%;
           }
          }
    
        }
        .send-name-input {
          width: 100%;
          height: 42px;
          position: relative;
          input {
            background-color: transparent;
            width: 94%;
            height: 42px;
            border: none;
            padding: 4px 20px;
            color: white !important;
            z-index: 2;
            position: relative;
            text-align: center;
            font-size: 14px;
          //   padding-top: 10px;
            &::placeholder{
                color: white !important;
            }
            &:active,
            &:focus{
                outline: none;
                border: noen;
                box-shadow: none;
            }
          }
          &::before {
            content: "";
            position: absolute;
            width: 94%;
            border: solid white;
          //   left: 20px;
            right: 0px;
            top: -7px;
            bottom: 0px;
            border-width: 2px 2px 2px 0px;
            border-radius:0 50px  50px 0;
            z-index: 1;
          //   border-top: 0;
            margin-top: 5px;
            
          //   background-color: aqua;
          @media only screen and (max-width:400px){
              width: 93%;
           }
          }
    
        }
  
  .log-checkbox{
      background-color: transparent;
      border: 1px solid white !important;
      margin-top: -1px;
  }
    }
  }
  .forgot-btn{
      background-color: transparent;
      border: 2px solid white;
      border-radius: 50px;
      padding: 4px 30px;
      font-size: 14px;
      color: white !important;
      font-weight: 500;
  }
  .join-btn{
      background-color: transparent;
      border: 2px solid white;
      border-radius: 50px;
      padding: 6px 30px;
      font-size: 18px;
      color: white !important;
      font-weight: 500;
      width: 80%;
  }
  